.game-container {
    display: flex;
    background-color: grey;
    margin: auto;
    width: 50vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}