<div class="lobby-container">

    <div class="main-title"> WOODBATTLE (Insert Real Name)</div>
    <woodbattle-latency></woodbattle-latency>

    <div *ngIf="!roomLoaded && !loadingRoom">
        <div>
            <input [(ngModel)]="roomName">
        </div>
        <div>
            <button (click)="joinOrCreateRoom('create')"> CREATE ROOM </button>
            <button (click)="joinOrCreateRoom('join')"> JOIN ROOM </button>
        </div>
    </div>

    <div *ngIf="roomLoaded && room"> 
        <div class="room-name"> {{room.name}} </div>
        <div class="users">
            <div *ngFor="let user of room.users">
                <div> {{user.name}} </div>
            </div>
        </div>

        <button *ngIf="user.id === room.host.id" (click)="startGame()"> LAUNCH GAME</button>
        <button (click)="leaveRoom()"> LEAVE ROOM </button>
    </div>

    <div *ngIf="!roomLoaded && loadingRoom"> Loading...</div>

    <div *ngIf="errorGettingRoom"> {{errorName}}</div>
    

</div>