<div class="">

    <div class="main-title"> WOODBATTLE (Insert Real Name)</div>

    <div *ngIf="!roomLoaded && !loadingRoom">
        <div>
            <input [(ngModel)]="roomName">
        </div>
        <div>
            <button (click)="joinOrCreateRoom('create')"> CREATE ROOM </button>
            <button (click)="joinOrCreateRoom('join')"> JOIN ROOM </button>
        </div>
    </div>

    <div *ngIf="roomLoaded && room"> 
        <div class="room-name"> {{room.name}} </div>
        <div class="users">
            <div *ngFor="let user of room.users">
                <div> {{user.name}} </div>
            </div>
        </div>

        <button *ngIf="user.name === room.host.name"> LAUNCH GAME</button>
    </div>

    <div *ngIf="!roomLoaded && loadingRoom"> Loading...</div>
    

</div>