<div class="game-container">
    <div class="title"> IT'S WORK ( {{loadingMap}} ) --- FPS : {{fps}} <woodbattle-latency></woodbattle-latency> </div>
    <div *ngIf="loadingMapError" class="error">Fait chier ça bug  </div>
    <div class="canvas-container">
        <canvas class="main-canvas" #canvas></canvas>
    </div>
    <div class="option-container">
        Scale:
        <button (click)="setScale('-')"> - </button>
        {{scale}}
        <button (click)="setScale('+')"> + </button>
    </div>
</div>